# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Node.js
node_modules/
dist/
build/
*.tsbuildinfo

# IDEs and Editors
.vscode/        # VSCode settings
.idea/          # IntelliJ/WebStorm settings
.env            # Environment variables
.env.development.local
.env.test.local
.env.production.local
.env.local

# macOS
.DS_Store

# npm
*.tgz
.npm/
.eslintcache

# yarn
.yarn/
.pnp.*

# pnpm
.pnpm-store/

# Test coverage
coverage/
.nyc_output/
.istanbul.yml

# Misc
.cache/
.next/ # Next.js specific
.nuxt/ # Nuxt.js specific
.parcel-cache/ # Parcel specific